* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #222;
}

.App {
  text-align: center;
  font-size: 1rem;
}

.Picker {
  background-color: #EDDDD4;
  padding: 2rem;
  height: 100vh;
}

.Title {
  height: 2.5rem;
  font-size: 2rem;
  color: #aaa;
}

.Names {
  height: calc(100vh - 20rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.Carousel {
  position: relative;
  width: 240px;
  height: 300px;
  margin: 0px auto;
  background: #F3E9E3;
}

.CarouselInner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.CarouselItem {
  position: absolute;
  width: 240px;
  height: 300px;
  backface-visibility: hidden;
}

.Name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NameText {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Name img {
  width: 200px;
  height: 200px;
}

.NoNames {
  position: absolute;
  color: #aaa;
}

.Hint {
  font-size: 0.9rem;
  color: #bbb;
}

.Shuffle {
  cursor: pointer;
  font-size: 5rem;
  border: none;
  background-color: #197278;
  border: 1px solid #283D3B;
  min-width: 30%;
  padding: 0.1rem;
  margin-top: 2rem;
  color: #f5f5f5;
}

.Shuffle:disabled {
  opacity: 0.5;
}


.Editor {
  padding: 2rem;
}

.TitleInput {
  display: block;
  font-size: 1rem;
  line-height: 1.4;
  width: 100%;
  margin-bottom: 1rem;
}

.TextArea {
  font-size: 1rem;
  line-height: 1.4;
  width: 100%;
  min-height: 20rem;
  margin-bottom: 1rem;
}
